*{
  padding: 0;
  margin: 0;
}
.App{
  margin: 0 5vw 0 5vw;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.App .App-header{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0 0 0;
}
li{
  list-style: none;
}
.books-div{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}
.books-div div h4{
  width: 14rem;
  padding: .25rem;
}
.books-div div p{
  padding: 0 0 2px .25rem;
}
.book-image{
  width:14rem;
  height: 298px;
  border-radius: .75rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}