*{
  padding: 0;
  margin: 0;
}
.App-header{
  width: 100vw;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
}
.App-div{
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin: 1rem 5vw 0 5vw;
}
.container{
  padding: 50px 0 0 0;
  margin: 0 5vw 0 5vw;
}

.books-div{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin: 0 0 2rem 0;
}
.books-div div h4{
  width: 14rem;
  padding: .25rem;
}
.books-div div p{
  padding: 0 0 2px .25rem;
}
.book-image{
  width:14rem;
  height: 298px;
  border-radius: .75rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.fa-long-arrow-alt-left{
  font-size: 2rem;
}
.search-input{
  height: 44px;
  width:90vw;
  font-size: 1.5rem;
}